force-app/main/default/flows/Create_Policy_From_Order.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>get_contact_name</name>
        <label>get contact name</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignmentItems>
            <assignToReference>contactname.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CustomerAuthorizedBy.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Policy_From_Order</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Create Policy From Order {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Policy From Order</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Policy_From_Order</name>
        <label>Create Policy From Order</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>$Record.Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Policy_Cost__c</field>
            <value>
                <elementReference>$Record.Order_Cost__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Policy_Owner1__c</field>
            <value>
                <elementReference>contactname.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Policy_Owner_Phone__c</field>
            <value>
                <elementReference>$Record.Account.Phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Policy_Quantity__c</field>
            <value>
                <elementReference>$Record.Order_Quantity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Policy_Status__c</field>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProductP__c</field>
            <value>
                <elementReference>$Record.Product_InterestOrder__c</elementReference>
            </value>
        </inputAssignments>
        <object>Policy__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_contact_name</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Activated</stringValue>
            </value>
        </filters>
        <object>Order</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>contactname</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
